 :root{
    --verde_1: #0faf00;
    --verde_2: #003500;
    --verde_3: #000f00;
    --amarelo: #fcd604;
 }
 
.topo{
    background-color: var(--verde_2);
    height: 75px;
    border-radius: 7px;
    border-color: var(--verde_3);
}
.titulo{
    color: var(--amarelo);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.principal{
    background-color: rgb(182, 182, 182);
    align-items: center;

}
.parana{
height: 10px;
width: 10px;
background-color: var(--verde_1);
position: absolute;
top: 267mm;
left: 171mm;
border-radius: 10px;
}